p {
    padding : 50px;
    text-indent : 30px;
    color : rgb(255, 255, 255);
    font-family : 'Times New Roman', Times, serif;
    font-size : 20px
}
#mainHeading {
    color : red;
    font-size : 40px;
    font-style :oblique
}
.headers {
    color : rgb(255, 255, 255);
    font-size : 25px
}
#articles {
    padding : 50px;
    color : rgb(255, 255, 255);
    font-style : italic;
}
footer {
    color : white;
    font-size : 8px
}
.funParagraph {
    color : green 
}